<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css', v=1) }}">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>{% block title %}{% endblock %} - Athens </title>
    </head>
    <body>
        <div id="content">
            <header>
                <a href="{{url_for('index')}}">
                    <h1>{% block header %}{% endblock %}</h1>
                </a>
                <nav>
                    {% if session.get('user') %}
                        <a href="{{ url_for('upload') }}">Upload Pictures</a>
                        <div class="spanner"></div>
                        <a href="{{ url_for('logout') }}">Logout</a>
                    {% endif %}
                </nav>
            </header>
            {% for message in get_flashed_messages() %}
                <div> {{ message }} </div>
            {% endfor %}
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
