<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css', v=1) }}">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>{% block title %}{% endblock %} - Athens </title>
    </head>
    <body>
        <div id="content">
            <header>
                <a href="{{url_for('index')}}">
                    <h1>{% block header %}{% endblock %}</h1>
                </a>
            </header>
            <nav>
                {% if 'user' in session %}
                    <div class="spanner"></div>
                    <a href="{{ url_for('logout') }}">Logout</a>
                {% endif %}
            </nav>

            {% for message in get_flashed_messages() %}
                <div> {{ message }} </div>
            {% endfor %}
            <article>
                {% block content %}{% endblock %}
            </article>
        </div>
    </body>
</html>
