{% extends 'base.html' %}

{% block header %}
    {% block title %} Index {% endblock %}
{% endblock %}

{% block content %}

    {% set num_images = "No" if not num_images else num_images %}

    {% if num_images == "No" %}
        {% set queue = "queue" %}
    {% else %}
        {% set queue = '<a class="inline" href="'+ url_for('image_queue', num=0) +'">queue</a>' %}
    {% endif %}

    <div id="index">
        There are {{ num_images }} images in the {{ queue | safe }}.
    </div>
{% endblock %}
