{% extends 'base.html' %}

{% block header %}
    {% block title %} Image Queue {% endblock %}
{% endblock %}

{% block content %}
    <a id="anchor-fullsize" href="{{ url_for('image_at_index', num=num, fullsize=1)}}">
        <img src="{{ url_for('image_at_index', num=num) }}"></img>
    </a>
    <form id="form_actions"
          action="{{ url_for('image_queue', num=num)}}"
          method="POST">
    </form>
    <footer>
        <a href="{{ url_for('image_queue', num=num-1)}}">Previous</a>
        <div class="spanner"></div>

        <button form="form_actions"
                name="action"
                value="rotate_left">
            &olarr;
        </button>

        <div class="spanner"></div>

        {% for action in actions %}
        <button form="form_actions"
                name="action"
                class="{{ 'selected' if action.selected else ''}}"
                value="{{ action.value }}">
            {{ action.get('text', action.value | title) }}
        </button>
        {% endfor %}

        <div class="spanner"></div>

        <button form="form_actions"
                name="action"
                value="rotate_right">
            &orarr;
        </button>

        <div class="spanner"></div>
        <a href="{{ url_for('image_queue', num=num+1)}}">Next</a>
    <footer>
{% endblock %}
