* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#content {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 1em;
}

article {
    flex: 1;
    display: flex;
    flex-direction: column;
}

img {
    height: 1px;
    flex: 1;
    object-fit: contain;
    margin: 1em 0 1em 0;
}

nav {
    display: flex;
}

#controls {
    display: flex;
}

.spanner {
    flex: 1;
}

header > a {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}
