body {
    margin: 1em;
    display: flex;
    flex-direction: column;
    height: 90vh;
    border: 1px solid red;
}

nav {
    display: flex;
}

img {
    max-height: 80%;
    width: auto;
}

.flex100 {
    flex: 1;
}
